<h2>New access token</h2>

<%= render "form.html", changeset: @changeset,
                        action: access_token_path(@conn, :create) %>

<%= link "Back", to: access_token_path(@conn, :index) %>
